* {
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 2rem
}

.options {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.map-container {
    height: 100%;
}